<footer class="w-full absolute bottom-0 text-white">
    <section class="w-full text-center">
        Challenge by <a href="https://www.frontendmentor.io/challenges/space-tourism-multipage-website-gRWj1URZ3/hub" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="https://www.linkedin.com/in/emanuelramirezabarca/" target="_blank">Tomas Emanuel Ramirez Abarca</a>.
    </section>
</footer>