---
import Body from "../../components/Body.astro";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Soace Tourism Website">
  <main class={`w-[375px] md:w-[768px] lg:w-[1440px] overflow-hidden
    [max-w-[390px]]:bg-[url('./images/technology/background-technology-mobile.jpg')]
    max-lg:bg-[url('./images/technology/background-technology-tablet.jpg')]
    xl:bg-[url('./images/technology/background-technology-desktop.jpg')]
    bg-cover
  `}>
    <Header />
    <Body className="flex flex-col px-10 lg:gap-10 lg:px-20 text-white h-dvh">      
      <h1 class="text-base max-md:text-center md:text-4xl detination-title mb-5"><span class="text-white/70">03</span> Space launch 101</h1>
    </Body>
  </main>
</Layout>
<style>
  .span-title{
    font-size: 28px;
    letter-spacing: 4.75px;
  }
  .detination-title{
    letter-spacing: 4.75px;
  }
</style>