---
import Body from "../../components/Body.astro";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import {Crews} from "../../components/Crew/index"
---

<Layout title="Welcome to Soace Tourism Website">
  <main class={`w-[375px] md:w-[768px] lg:w-[1440px] overflow-hidden
    [max-w-[390px]]:bg-[url('https://eloquent-moxie-e2e409.netlify.app/images/crew/background-crew-mobile.jpg')]
    max-lg:bg-[url('https://eloquent-moxie-e2e409.netlify.app/images/crew/background-crew-tablet.jpg')]
    xl:bg-[url('https://eloquent-moxie-e2e409.netlify.app/images/crew/background-crew-desktop.jpg')]
    bg-cover
  `}>
    <Header />
    <Body className="flex flex-col px-10 lg:gap-10 lg:px-20 text-white h-dvh">      
      <h1 class="text-base max-md:text-center md:text-4xl crew-title mb-5"><span class="text-white/70">02</span> Meet your crew</h1>
      <Crews client:load />
    </Body>
  </main>
</Layout>
<style>
  .span-title{
    font-size: 28px;
    letter-spacing: 4.75px;
  }
  .crew-title{
    letter-spacing: 4.75px;
  }
</style>